<header class="main-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg main-nav">
      <img>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
        aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar icon-bar-1"></span>
        <span class="icon-bar icon-bar-2"></span>
        <span class="icon-bar icon-bar-3"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav ml-auto text-uppercase f1">
          <li>
            <a class="nav-link" href="/patients">All Patients</a>
          </li>
          <li>
            <a class="nav-link" href="/patients/new">New Patient</a>
          </li>
          <li>
            <a class="nav-link" href="/diseases">All Diseases</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>