<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2966/2966327.png">
<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Add Disease</h1>
    </div>
    <div class="col-md-6 offset-md-3">
        <form action="/diseases" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Disease Name</label>
                <input class="form-control" type="text" name="name" placeholder="disease name" id="name" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="doctor_name">Doctor name</label>
                <input class="form-control" type="text" name="doctor_name" placeholder="doctor_name" id="doctor_name"
                    required>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Disease</button>
            </div>
        </form>
    </div>